body {
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	padding: 20px;
}

.photo-block {
  background-image: url("../images/content/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
  max-height: 400px;
  min-width: 180px;
  aspect-ratio: 0.75;
  margin: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  cursor: pointer;
}

.photo-block-active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 10;
}

.body-dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
}